{{define "ssm/put_modal.html"}}
<div id="modal-backdrop"
    class="fixed inset-0 z-50 flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50 dark:bg-opacity-80">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-slate-900 dark:text-white">
                    {{if .IsEdit}}Update{{else}}Create{{end}} Parameter
                </h3>
                <button type="button"
                    class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    onclick="document.getElementById('modal-container').innerHTML = ''">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
                <form class="space-y-4" hx-post="/dashboard/ssm/put" hx-target="body">
                    <div>
                        <label for="name" class="block mb-2 text-sm font-medium text-slate-900 dark:text-white">Parameter
                            name</label>
                        <input type="text" name="name" id="name" required value="{{.Name}}" {{if
                            .IsEdit}}readonly{{end}}
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white {{if .IsEdit}}opacity-60 cursor-not-allowed{{end}}">
                    </div>
                    <div>
                        <label for="type"
                            class="block mb-2 text-sm font-medium text-slate-900 dark:text-white">Type</label>
                        <select id="type" name="type"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                            <option value="String" {{if eq .Type "String" }}selected{{end}}>String</option>
                            <option value="StringList" {{if eq .Type "StringList" }}selected{{end}}>StringList</option>
                            <option value="SecureString" {{if eq .Type "SecureString" }}selected{{end}}>SecureString
                            </option>
                        </select>
                    </div>
                    <div>
                        <label for="value"
                            class="block mb-2 text-sm font-medium text-slate-900 dark:text-white">Value</label>
                        <textarea id="value" name="value" rows="3" required
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">{{.Value}}</textarea>
                    </div>
                    <div>
                        <label for="description" class="block mb-2 text-sm font-medium text-slate-900 dark:text-white">
                            Description <span class="text-gray-400 font-normal">(Optional)</span>
                        </label>
                        <input type="text" name="description" id="description" value="{{.Description}}"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                    </div>
                    <div
                        class="flex items-center justify-end space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600 pt-4">
                        <button type="button"
                            class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                            onclick="document.getElementById('modal-container').innerHTML = ''">Cancel</button>
                        <button type="submit"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            {{if .IsEdit}}Save changes{{else}}Create{{end}}
                        </button>
                    </div>
                    {{if .IsEdit}}
                    <input type="hidden" name="overwrite" value="true">
                    {{end}}
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}